<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Licensing" version="16.3.0.21" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfDataForm.Android" version="16.3.0.21" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox.Android" version="16.3.0.21" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown.Android" version="16.3.0.21" targetFramework="monoandroid81" />
</packages>